<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Usuario</title>
</head>
<body>
    <h1>Eliminar Usuario</h1>
    <p>¿Estás seguro de que quieres eliminar al usuario "{{ usuario.email }}"?</p>
    <form method="POST" action="/usuarios/{{ usuario.email }}">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Eliminar Usuario</button>
    </form>
</body>
</html>
